/*------Imports------*/
#nav {
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#nav .nav__logo {
  width: auto;
  margin-left: 60px;
}
#nav .nav__sections {
  width: 40rem;
}
#nav .nav__sections .nav__section__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  font-family: Oswald;
  font-size: 400;
  font-weight: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
}
#nav .nav__sections .nav__section__list .nav--section:hover {
  text-decoration: underline solid 1px #fff;
}
#nav .nav__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  margin-right: 60px;
}
#nav .nav__btns .nav__btns--buy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}
#nav .nav__btns .nav__btns--buy button {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-color: rgb(133, 133, 133);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 50px;
}
#nav .nav__btns .nav__btns--buy button:hover {
  border-color: #fff;
}
#nav .nav__btns .nav__btns--buy button img {
  margin-top: 4px;
}

header {
  background-color: #cccccc;
  height: 119vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .header__color--options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  width: 120px;
  margin-left: 5rem;
}
header .header__color--options img {
  width: 70px;
}
header .header__color--options .flecha__arriba, header .header__color--options .flecha__abajo {
  width: 25px;
  height: auto;
}
header .header__product--img {
  width: 30%;
  overflow: hidden;
}
header .header__product--img .carrousel {
  width: 600%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
header .header__product--img .carrousel .carrousel--item {
  height: 500px;
  width: 16.6666666667%;
  border-radius: 0px;
}
header .header__product--img .carrousel .carrousel--item.sizeA {
  height: 500px;
}
header .header__product--img .carrousel .carrousel--item.sizeB {
  height: 800px;
}
header .header__product--img .carrousel .carrousel--item.sizeC {
  height: 1000px;
}
header .header__product--detail {
  height: 50rem;
  width: auto;
  margin-right: 12rem;
}
header .header__product--detail h1 {
  font-family: Oswald;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 1rem;
}
header .header__product--detail .product--rating {
  margin: 1rem 0 0 0;
}
header .header__product--detail .product--rating .material-symbols-outlined {
  color: #fff;
}
header .header__product--detail .product--rating .material-symbols-outlined:hover {
  color: #FC3B1D;
}
header .header__product--detail .product__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 2rem 0;
  border-bottom: solid 0.5px rgba(65, 65, 65, 0.33);
}
header .header__product--detail .product__price .price {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-align: center;
}
header .header__product--detail .product__price .shipping {
  align-self: flex-end;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
}
header .header__product--detail .product__color--select {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 2rem 0 1rem 0;
}
header .header__product--detail .product__color--select .color--select--title {
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
header .header__product--detail .product__color--select .color--options {
  margin-top: 1rem;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: solid 0.5px rgba(65, 65, 65, 0.33);
}
header .header__product--detail .product__color--select .color--options button {
  border: 0.3px solid #000;
  border-radius: 10px;
}
header .header__product--detail .product__color--select .color--options button.active {
  border: solid 2px;
  border-color: #FC3B1D;
}
header .header__product--detail .product__size--select {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header__product--detail .product__size--select .size--select--title {
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
header .header__product--detail .product__size--select .size--btns button {
  font-family: roboto;
  font-size: 16px;
  font-weight: 550;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 10px;
  background-color: transparent;
  border: solid 1px #000;
}
header .header__product--detail .product__size--select .size--btns button:hover {
  background-color: #000;
  color: #fff;
}
header .header__product--detail .btn__buy button {
  border: 0;
  width: 100%;
  height: 50px;
  background-color: #FC3B1D;
  color: #fff;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
}
header .header__product--detail .btn__buy .installments {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.5px rgba(65, 65, 65, 0.33);
}
header .header__product--detail .btn__buy .installments__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
header .header__product--detail .product__freeShiping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: auto;
  height: 150px;
}
header .header__product--detail .product__freeShiping .shipping--US--Canada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
header .header__product--detail .product__freeShiping .shipping--US--Canada .freeShipping {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 70%;
  padding-right: 1rem;
}
header .header__product--detail .product__freeShiping .shipping--US--Canada .freeShipping .shipping--Internationally--text {
  color: #FC3B1D;
}
header .header__product--detail .product__freeShiping .offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding-left: 1rem;
}
header .header__product--detail .product__freeShiping .offer p {
  width: 70%;
}
header .header__product--detail .details--summary {
  max-width: 550px;
}
header .header__product--detail .details--summary P {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 1rem 0 1rem 0;
}
header .header__product--detail .details--summary summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  border-top: solid 0.5px rgba(65, 65, 65, 0.33);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
}
header .header__product--detail .details--summary summary img {
  width: 25px;
}

.colorLightBlue {
  color: #91C6D2;
}

.colorBrown {
  color: #494536;
}

.colorPink {
  color: #CA396E;
}

.colorBlue {
  color: #CA396E;
}

.colorOrange {
  color: #942920;
}

.colorBlack {
  color: #942920;
}

.colorViolet {
  color: #7F0E7F;
}

.colorGrey {
  color: #808080;
}

.colorYellow {
  color: #FDA429;
}

.colorDark {
  color: #2A2A2A;
}

/*------Generals------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
