/*------Imports------*/
@import './_modules/nav';
@import './_modules/mixin';
@import "./_modules/header";
@import "./_modules/colors";


/*------Generals------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}