.colorLightBlue{
    color: #91C6D2;
}

.colorBrown{
    color: #494536;
}

.colorPink{
    color: #CA396E;
}

.colorBlue{
    color: #CA396E;
}

.colorOrange{
    color: #942920;
}

.colorBlack{
    color: #942920;
}

.colorViolet{
    color: #7F0E7F;
}


.colorGrey{
    color: #808080;
}

.colorYellow{
    color: #FDA429;
}

.colorDark{
    color: #2A2A2A;
}